/* Reset */
button{border:none;background-color:transparent;cursor:pointer}ul,li,button{padding:0;margin:0}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }
/* Base */
html {
  font-size: 62.5%;
}
body {
  font-family: Roboto, 'メイリオ', Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  color: #333;
  background-color: #fdf7eb;
}
/* Icon */
.icon-rem {
  position: relative;
  text-indent: 110%;
  white-space: nowrap;
  border-radius: 10px;
  margin-left: 5vw;
  overflow: hidden;
  color: #fff;
  background-color: #333;
}
.icon-rem::before,
.icon-rem::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  display: block;
  height: .3rem;
  width: 100%;
  background-color: currentColor;
  pointer-events: none;
}

.icon-rem::before {
  transform: rotate(45deg);
}

.icon-rem::after {
  transform: rotate(-45deg);
}
.icon-del {
  position: relative;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  color: #ccc;
  background-color: #fff;
}
.icon-del::before, .icon-del::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  display: block;
  height: .3rem;
  width: 100%;
  background-color: currentColor;
  pointer-events: none;
}
.icon-del::before {
  transform: rotate(45deg);
}
.icon-del::after {
  transform: rotate(-45deg);
}
.icon-search {
  position: relative;
  font-size: 1rem;
  color: #ccc;
  width: 1em;
  height: 1em;
  border: solid 3px currentColor;
  border-radius: 50%;
  transform: translate3d(-10%, -10%, 0) rotate(-45deg);
  pointer-events: none;
}
.icon-search::after {
  content: '';
  display: block;
  width: 3px;
  height: 50%;
  background-color: currentColor;
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translate3d(-50%, 3px, 0);
}
.icon-history {
  width: 1.2rem;
  height: 1.2rem;
  border: solid 2px currentColor;
  border-radius: 50%;
  position: relative;
  color: #ccc;
  pointer-events: none;
}
.icon-history::before {
  content: '';
  display: block;
  width: 40%;
  height: 40%;
  border: 1px currentColor;
  border-style: none none solid solid;
  position: absolute;
  top: 10%;
  right: 10%;
}
.icon-add {
  position: relative;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  color: #ccc;
}
.icon-add::before, .icon-add::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}
.icon-add::before {
  width: 1rem;
  height: 1rem;
  border-style: solid none none solid;
  border-width: 2px;
  border-color: currentColor;
}
.icon-add::after {
  width: 1.5rem;
  height: 2px;
  background-color: currentColor;
  transform: translate3d(0.1rem, 0.1rem, 0) rotate(45deg);
}
.icon-all-del {
  width: 1em;
  height: 1em;
  border-style: none solid solid;
  border-width: 2px;
  border-radius: 0 0 4px 4px;
  border-color: currentColor;
  position: relative;
  color: #ccc;
}
.icon-all-del::before, .icon-all-del::after {
  content: '';
  display: block;
  position: absolute;
  margin: auto;
}
.icon-all-del::before {
  top: -2px;
  left: -40%;
  right: -40%;
  height: 2px;
  background-color: currentColor;
}
.icon-all-del::after {
  height: 25%;
  border: solid 2px currentColor;
  border-style: solid solid none solid;
  top: -34%;
  left: 10%;
  right: 10%;
  margin-top: -2px;
}
/* Common */
.hide-label {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* Search Box */
.is_search, .is_search body {
  height: 100%;
  overflow: hidden;
}
.is_search .search-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.search-wrp {
  padding: 4rem 3rem 3rem;
}
.is_search .search-wrp {
  background-color: #f0fdeb;
}
.search {
  max-width: 400px;
  min-width: 320px;
}
.search-input {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 4rem;
}
.is_suggest .search-input {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}
.search-txt {
  font-size: 100%;
  flex: 1;
  border: 1px solid #9a9a9a;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
  padding: .2rem .2rem .2rem 1rem;
  border-radius: 10px 0 0 10px;
}
.search-del {
  flex: 0 0 3rem;
}
:placeholder-shown + .search-del {
  display: none;
}
.search-del::before, .search-del::after {
  width: 50%;
}
.search-exe {
  position: relative;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  flex: 0 0 4rem;
  background-color: #539ed4;
  border-radius: 0 10px 10px 0;
  margin: -1px -1px -1px 0;
  position: relative;
  font-size: 1rem;
}
.is_suggest .search-exe {
  border-radius: 0 10px 0 0;
  margin-bottom: 0;
}
.search-exe-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  font-size: 1.2rem
}
/* output */
output[name="result1"]{
  position: relative;
  left: 12px;
  font-size: 200%;
}
output[name="result2"]{
  position: relative;
  left: 12px;
  font-size: 180%;
}
output[name="result3"]{
  position: relative;
  left: 12px;
  font-size: 180%;
}
#arrow{
  width: auto;
  height: auto;
  margin-left: 5vw;
  border-radius: 50px;
}
.text-flex{
  display: flex;
}
.ui-autocomplete {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  }